/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}

/*General Styles*/

html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5;
    background-color:#FBFFFB;
    font-family: 'Source Sans Pro', sans-serif;
    color:#4f4f4f;
}
a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration:none;
    color:#266035;
}
h1, h2, h3{
    font-family: 'Oxygen', sans-serif;
    text-align:center;
    color:#266035;
}
h1{
   color:#FBFFFB;
   font-size:6rem; 
}
h2{
    font-size:3rem;
}
h3{
    font-size:2rem;
}
section{
    padding:4% 0;
}
/*Header section styles*/
nav{
    display:flex;
    justify-content:space-between;
    background-color:rgba(255, 255, 255, 0.8);
    position:fixed;
    width:100%;
    z-index:999;
    top:0;
}
.logo{
    width:10%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo img{
    width:50%;
}
.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
/*Top Section Styles*/
#home{
    height:80vh;
    background-image:url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*About Section Styles*/
#about{
    display:flex;
    justify-content:flex-end;
    background-image:url('../images/about-img.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding:12% 0;
}
#about div{
    width:20%;
    margin-right:10%;
    padding:4%;
}

/*Shop Section Styles*/
.container{
    display:flex;
}
.shopText{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.shopText div{
    width:50%;
    text-align:center;
}
.bg-img{
    width:50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:50vh;
}
.succulants{
    background-image:url('../images/succulants.jpg');
}
.cacti{
    background-image:url('../images/cacti.jpg');
}
.tropicals{
    background-image:url('../images/tropicals.jpg');
}

/*footer*/
#contact{
    display:flex;
    flex-wrap:wrap;
    color:#FBFFFB;
    background-color:#266035;
}
#contact h2{
    width:100%;
}
#contact p.copyright{
    width:100%;
    text-align:right;
    margin-right:10%;
}
.left, .right{
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.right img{
    width:50%;
}
.left div{
    width:40%;
    line-height:2;
}
#contact h3{
    color:#FBFFFB;
}
#contact a{
    color:#FBFFFB;
}
#contact h2{
    color:#FBFFFB;
}

/*Responsive Styles*/
/*Break points*/
/*
max-width scales down, this is for desktop first design
min-width scales up, this is for mobile first design
*/
/*tablet*/
@media(max-width:800px){
    #about div{
        width:40%;
    }
    .shopText div{
        width:70%;
    }
}
/*phone*/
@media(max-width:500px){
   /*nav*/
   nav{
       flex-direction: column;
       align-items: center;
   }
   .links{
       width:100%;
   }
   .logo{
       width:25%;
   }
   #home button{
       display:none;
   }
   #about{
       background-image:none;
       background-color:#e2e3e5;
       justify-content: center;
   }
   #about div{
    margin-right:0;
    width:80%;
   }
   .container{
       flex-direction:column;
       align-items: center;
   }
   .bg-img, .shopText{
       width:90%;
   }
   .mobileSpecific{
       flex-direction:column-reverse;
   }
   .shopText div{
       width:100%;
   }
    .left, .right{
           width:100%;
       }
       #contact p.copyright{
           text-align:center;
           margin:0;
       }
       .left div{
        width:50%;
       }
}