/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box; /*when I give an item a width I want padding and margin to be applied within that width not in addition to it*/
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    background-color: #FBFFFB;
    color:#4f4f4f; 
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3{
    font-family: 'Oxygen', sans-serif;
}
h1{
    font-size:5rem;
    color: #FBFFFB;
}
h2{
    font-size:3rem;
    text-align:center;
    color: #266035;
}
h3{
    font-size:2.5rem;
    text-align:center;
    color: #266035;
}
a{
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    color:#266035;
}
section{
    padding:4% 0;
}
/*Helper Classes*/
.bgimg{
    background-size:cover;
    background-repeat: no-repeat;
}
/*Header*/
nav{
    display:flex;
    justify-content:space-between;
    position:fixed;
    top:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.8);
    z-index: 999;
}
.logo{
    width:5%;
}
.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

/*top section styles*/
#top{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url('../images/header.jpg');
    background-position:bottom;
}

/*About Section Styles*/
#about{
    display:flex;
    justify-content: flex-end;
    padding:20% 0;
    background-image:url('../images/about-img.jpg');
    background-position:center;
}
#about div{
   width:20%;
   margin-right:10%; 
}

/*shop section styles*/
.container{
    display:flex;
    flex-wrap:wrap;
}
.text, .succulants, .cacti, .tropicals{
    width:50%;
}
.text{
    padding:5%;
    text-align:center;
}
.text div{
    width:60%;
    margin:0 auto;
}
.succulants{
    background-image: url('../images/succulants.jpg');
}
.cacti{
    background-image: url('../images/cacti.jpg');
}
.tropicals{
    background-image: url('../images/tropicals.jpg');
}

/*Footer Section Styles*/

footer{
    background-color:#266035;
    color:#fff;
    display:flex;
    flex-wrap:wrap;
}
footer h2{
    color:#fff;
    width:100%;
}
footer h3{
    color:#fff;
    text-align:left;
}
footer a{
    color: #fff;
}
.right, .left{
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.right img{
    width:50%;
}
.left div{
    width:50%;
    line-height:2.5;
}
.bottom{
    width:100%;
}
.bottom p{
    text-align:right;
    margin-right:5%;
}