*{
    padding:0;
    margin:0;
    box-sizing:border-box; /*fixes the problem that we have with the box model - it says if I add padding or border apply it within the box not in addition to it*/
    max-width:100%; /*you can never be bigger than your parent - helps with scaling down images*/
    /* border:1px solid grey; */
}

/*General Rules*/
html{
    font-size:62.5%; /*accessibility % is scalable and this makes it so 1rem === 10px*/
}
body{
    background-color:#FBFFFB;
    font-size:1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height:1.5;
}

h1{
    color:#FBFFFB;
    font-size:6rem;
    font-family: 'Oxygen', sans-serif;
    margin-bottom:2%;
}
h2, h3{
    color:#266035;
    font-family: 'Oxygen', sans-serif;
    margin-bottom:4%;
    text-align: center;
}
h2{
    font-size:4rem;
}
h3{
    font-size:2.5rem;
}
a{
    color: #266035;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
}
button{
    border:4px solid #266035;
    color: #266035;
    background-color:#FBFFFB;
    padding:3% 5%;
    font-size:1.8rem;
    transition:2s;
    margin-top:4%;
}
button:hover{
    background-color:#266035;
    color:#FBFFFB;
}
section, footer{
    padding: 4% 0;
}
/*helper classes*/
.img{
    background-size:cover;
    background-repeat: no-repeat;
}

/*Header Section Styles*/
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    width:100%;
    top:0;
    background-color:rgba(250, 250, 250, 0.8);
}
.logo{
    width:5%;
}
.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
}

/*Top Section Styles*/
#top{
    height:90vh;
    background-image:url('../images/header.jpg');
    background-position: bottom;
    margin-top:5%;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*About Section Styles*/
#about{
    background-image: url('../images/about-img.jpg');
    height:75vh;
    background-position: center left;
    display:flex;
    /*since flexbox is row by default we don't need to add row. When it's row or row-reverse the main axis is horizontal and the cross axis is vertical*/
    justify-content: flex-end; /*controls main axis*/
    align-items: center; /*controls cross axis*/
}
#about div{
    width:20%;
    margin-right:10%;
}

/*Shop Section Styles*/
#shop{
    padding-bottom:0;
}
.container{
    display:flex;
    flex-wrap:wrap;
}
.container div{
    width:50%;
}
.text{
    padding:10% 4%;
    text-align:center;
}
.text div{
    margin:0 auto;
}
.text button{
    background-color:#266035;
    color:#FBFFFB;
}
.text button:hover{
    background-color: #FBFFFB;
    color:#266035;
}
/*adding background images*/
.succulant{
    background-image:url('../images/succulants.jpg');
    background-position: bottom;
} 
.cacti{
    background-image:url('../images/cacti.jpg');
    background-position: bottom;
}
.tropical{
    background-image:url('../images/tropicals.jpg');
}
/* Contact Section*/

#contact{
    display:flex;
    flex-wrap:wrap;
    color:#FBFFFB;
    background-color:#266035;
}
footer h2{
    width:100%;
    color:#FBFFFB;
}
footer h3, footer a{
    color:#FBFFFB;
    text-align:left;
}
.left, .right{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width:30%;
}
.info{
    width:60%;
    line-height:2;
}
.copyright{
    width:100%;
    text-align:right;
    margin-right:3%;
}

/*
max-width - scale down - desktop first design / this width or anything smaller rules apply
min-width - scale up - mobile first design / this width or anything bigger rules apply
*/

/*Media Queries - RESPONSIVE DESIGN*/

/*Tablet breakpoint*/
@media (max-width: 800px){ /*these styles apply to 800px or smaller*/
    /*header section styles*/
   nav{
       justify-content: center;
       flex-wrap:wrap;
   }
   .logo{
       width:7%;
   }
   .links{
       width:100%;
   }
   /*top section styles*/
   #top{
       margin-top:11%;
   }
   /*about section styles*/
   #about{
       background-image:none;
       background-color:lightgray;
       justify-content: center;
       height:auto;
   }
   #about div{
       margin:0;
       width:60%;
   }
   /*shop styles*/
   .text{
    padding:8% 2%;
    }
    .text div{
        width:80%;
    }
    /*footer styles*/
    .right img{
        width:60%;
    }
}


/*mobile breakpoint*/

@media (max-width: 590px){
    #about div{
        width:80%;
    }
    /*shop section styles*/
    .container{
        justify-content: center;
    }
    .container div{
        width:80%;
    }
    .container div.img{
        height:40vh;
    }
    .one{
        order:1;
    }
    .two{
        order:2;
    }
    .three{
        order:3;
    }
    .four{
        order:4;
    }
    .five{
        order:5;
    }
    .six{
        order:6
    }
    /*footer styles*/
    #contact{
        text-align:center;
    }
    footer h2{
        order: 1;
    }
    footer h3{
        text-align:center;
    }
    .right{
        order:2;
        width:100%;
    }
    .right img{
        width:40%;
    }
    .left{
        order:3;
        width:100%;
    }
    .copyright{
        order:4;
        margin:0;
        text-align:center;
    }
}